[{:itonami.blueprint/social-impact [:scientific-integrity :lab-safety :research-compliance :analytical-rigor], :itonami.blueprint/domain :research/chemistry, :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger], :itonami.blueprint/isco-08 "2113", :itonami.blueprint/name "Research Support: Chemistry", :itonami.blueprint/governor :chemistry-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-2113", :itonami.blueprint/license "AGPL-3.0-or-later", :itonami.blueprint/maturity :implemented}]
